@model SistemaControlDeTrabajo.Models.Mantenimiento

@{
    ViewBag.Title = "Crear";
}

<div class="container body-content" style="margin-top: 150">
    <h2>Crear</h2>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Mantenimiento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(model => model.FechaRealizacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaRealizacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaRealizacion, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.CodContrato, "CodContrato", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CodContrato", (SelectList)ViewData["contratos2"], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CodContrato, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
             @Html.LabelFor(m => m.CodContrato, new { @class = "text-primary" })
        <div class="col-md-10">

            @Html.DropDownList()
            @Html.ValidationMessageFor(m => m.CodContrato)
        </div>
        </div>*@




    @*<div class="form-group">
            <div class="col-md-10">
                <label for="txtNombre">Contrato</label>
                <select class="form-control" id="cboContratos" name="cboContratos">
                    @foreach (var c in ViewData["contratos"] as List<SistemaControlDeTrabajo.Models.Contrato>)
                    {
                        <option value="@c.CodContrato">@c.NroContrato</option>
                    }

                </select>
            </div>
        </div>*@


    @*<div class="form-group">
            <div class="col-md-10">
                <label for="txtNombre">Empleado</label>
                <select class="form-control" id="cboEmpleados" name="cboEmpleados">
                    @foreach (var c in ViewData["empleados"] as List<SistemaControlDeTrabajo.Models.Personal>)
                    {
                        <option value="@c.CodPersonal">@c.NombreApellido</option>
                    }

                </select>
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.CodEmpleado, "CodEmpleado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CodEmpleado", (SelectList)ViewData["empleados2"], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CodEmpleado, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DetalleTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DetalleTrabajo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DetalleTrabajo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>